.buttonWrapper {
  background-color: #118da8;

  padding: 15px 20px;
  border-radius: 8px;
  margin-top: auto;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

.buttonWrapper:hover {
  background-color: #fff;
  color: #000;
}
